@import '@assets/styles/constants.scss';

.Picker {
    background-color: $black-color;
    box-shadow: inset 0 -8px 0 $black-box-shadow;
    border-radius: 16px;
    padding: 24px 24px 32px 24px;
    text-align: center;
    letter-spacing: 1px;
    margin: 40px 0;

    &-Section {
        margin-bottom: 24px;
    }

    &-SectionTitle {
        color: $gray-color;
        text-transform: uppercase;
        font-family: OutfitBold;
        margin-bottom: 12px;
        user-select: none;
    }

    &-SwitchWrapper {
        padding: 8px;
        background-color: $primary-bg;
        border-radius: 12px;
    }

    &-PlayerSwitch {
        display: flex;
        position: relative;
        align-items: center;
        user-select: none;
        height: 50px;

        @media screen and (min-width: $mobile-l-breakpoint) {
            height: 60px;
        }

        &::after {
            content: '';
            background-color: $gray-color;
            border-radius: 12px;
            position: absolute;
            width: 50%;
            height: 100%;
            transition: $transition-fast ease;
        }

        &_oMark::after {
            transform: translateX(100%);
        }
    }

    &-PlayerSwitchItem {
        flex-basis: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        cursor: pointer;
    }

    &-DifficultySwitch {
        display: flex;
        position: relative;
        align-items: center;
        font-family: OutfitBold;
        text-transform: uppercase;
        user-select: none;
        height: 40px;

        @media screen and (min-width: $mobile-l-breakpoint) {
            height: 50px;
        }

        &::after {
            content: '';
            background-color: $gray-color;
            border-radius: 8px;
            position: absolute;
            width: 33.33%;
            height: 100%;
            transition: $transition-fast ease;
            text-align: center;
        }

        &_medium::after {
            transform: translateX(100%);
        }

        &_hard::after {
            transform: translateX(200%);
        }
    }

    &-DifficultySwitchItem {
        flex-basis: 33.33%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        cursor: pointer;
        transition: $transition-fast ease;
        color: $gray-color;
        font-size: 0.75rem;

        @media screen and (min-width: $mobile-l-breakpoint) {
            font-size: 1rem;
        }

        &_current {
            color: $black-color;
        }
    }

    &-FooterText {
        font-family: OutfitRegular;
        font-size: 0.875rem;
        text-transform: uppercase;
        color: $gray-color;
        opacity: 0.5;
        user-select: none;
    }
}
