@import '@assets/styles/constants.scss';
@import '@assets/styles/placeholders.scss';

.QuitGameModal {
    background-color: $black-color;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 48px 0;
    animation: modalPop $transition-fast ease-out;

    &_hiding {
        animation: modalDisappear $transition-fast ease-out;
    }

    @media screen and (min-width: $mobile-l-breakpoint) {
        padding: 64px 0;
    }

    @media screen and (min-width: 500px) {
        width: 500px;
        border-radius: 16px;
    }

    &-Title {
        color: $gray-color;
        font-family: OutfitBold;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 2rem;
        margin: 0 0 24px;

        @media screen and (min-width: $mobile-l-breakpoint) {
            font-size: 2.5rem;
            margin: 0 0 32px;
        }
    }

    &-ButtonWrapper {
        display: flex;
        column-gap: 16px;
        justify-content: center;
    }

    &-Button {
        @extend %button;
        color: $primary-bg;
        border-radius: 8px;
        padding: 20px 30px 22px 30px;
        font-size: 1rem;

        &_cancel {
            background-color: $gray-color;
            box-shadow: inset 0 -4px 0 $gray-box-shadow;

            &:hover,
            &:focus {
                background-color: $gray-hover;
            }

            &:active {
                box-shadow: inset 0 -2px 0 $gray-box-shadow;
                transform: translateY(2px);
                padding-bottom: 21px;
            }
        }

        &_confirm {
            background-color: $golden-color;
            box-shadow: inset 0 -4px 0 $golden-box-shadow;

            &:hover,
            &:focus {
                background-color: $golden-hover;
            }

            &:active {
                box-shadow: inset 0 -2px 0 $golden-box-shadow;
                transform: translateY(2px);
                padding-bottom: 21px;
            }
        }
    }
}

@keyframes modalPop {
    from {
        transform: translate(-50%, -40%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes modalDisappear {
    from {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: translate(-50%, -40%);
        opacity: 0;
    }
}
