@import '@assets/styles/constants.scss';
@import '@assets/styles/placeholders.scss';

.MainScreen {
    margin: 15vh auto;
    padding: 0 24px;
    min-width: 320px;
    max-width: 420px;
    position: relative;

    &-SoundIcon {
        position: absolute;
        right: 32px;
        top: 4px;
        cursor: pointer;
    }

    &-NewGameButton {
        @extend %button;
        border-radius: 16px;
        width: 100%;
        color: $primary-bg;
        background-color: $golden-color;
        box-shadow: inset 0 -8px 0 $golden-box-shadow;
        padding: 24px 24px 32px 24px;

        &:hover,
        &:focus {
            background-color: $golden-hover;
        }

        &:active {
            box-shadow: inset 0 -4px 0 $golden-box-shadow;
            transform: translateY(4px);
            padding-bottom: 28px;
        }
    }
}
