@import '@assets/styles/constants.scss';

.MainScreen {
    padding: 0 24px;
    margin: 15vh auto;
    min-width: 272px;
    max-width: 420px;

    &-Logo {
        display: flex;
        justify-content: center;
        column-gap: 6px;
    }

    &-NewGameButton {
        font-family: OutfitBold;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        outline: none;
        border: none;
        border-radius: 16px;
        width: 100%;
        padding: 24px 24px 32px 24px;
        background-color: $golden-color;
        box-shadow: inset 0 -8px 0 $box-shadow-golden;
        cursor: pointer;
        transition: 0.2s;

        &:hover,
        &:focus {
            background-color: $orange-color;
        }

        &:active {
            box-shadow: inset 0 -4px 0 $box-shadow-golden;
            transform: translateY(4px);
            padding-bottom: 28px;
        }
    }
}
