$primary-bg: #1a2a33;

$black-color: #1f3641;
$gray-color: #a8bfc9;
$teal-color: #31c3bd;
$golden-color: #f2b137;
$white-color: #eef0eb;

$black-box-shadow: #10212a;
$gray-box-shadow: #6b8997;
$golden-box-shadow: #cc8b13;

$gray-hover: #dbe8ed;
$golden-hover: #ffc860;

$mobile-l-breakpoint: 425px;

$transition-fast: 0.2s;
$transition-medium: 0.6s;
