%button {
    font-family: OutfitBold;
    text-transform: uppercase;
    text-decoration: none;
    background: transparent;
    letter-spacing: 1px;
    box-sizing: border-box;
    transition: $transition-fast;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}
